/*for small screen devices in portrait mode */
@media (min-width: 320px) {
  .container-fluid {
    margin: auto;
    max-width: 480px;
    padding: 40px;
  }

  input[type=text], textarea {
    width: 80%;
  }
}

/*for small screen devices in landscape mode */
@media (min-width: 480px) {
  .container-fluid {
    margin: auto;
    max-width: 600px;
    padding: 40px;
  }

  #redefining-container #layers-image {
    float: left;
    width: 50%;
  }

  #redefining-container #redefining-text {
    float: right;
    width: 50%;
    text-align: left;
  }

  #services-container #services-data {
    column-count: 3;
    column-gap: 200px; 
    width: 100%;
  }

  #team-container #team-member {
    float: right;
    width: 25%;
  }

  form {
    float: left;
    width: 75%;
  }

  #address-data {
    float: right;
    width: 25%;
  }
}

/*for tablets */
@media (min-width: 600px) {
  .container-fluid {
    margin: auto;
    max-width: 768px;
    padding: 80px;
  }
}

/*all larger devices */
@media (min-width: 768px) {
  .container-fluid {
    margin: auto;
    font-size: 18px;
    max-width: 800px;
    padding: 150px;
  }
}

img {
  max-height: 100%;
  max-width: 100%;
}

#headline {
  color: rgb(242, 242, 242);
  text-align: center;
  background: 
  linear-gradient(
    rgba(75, 0, 130, 0.45), 
    rgba(75, 0, 130, 0.45)
  ),    
  url("../assets/office.jpeg");
  background-size: cover;
}

#headline #button1 {
  background-color: rgb(75, 0, 130);
  font-size: 12px;
  width: 120px;
  height: 35px;
}

#redefining-container {
  background-color: rgb(75, 0, 130);
  color: rgb(242, 242, 242);
  text-align: center;
}


#redefining-container #button2 {
  background-color: rgb(75, 0, 130);
  font-size: 11px;
  border-radius: 8px;
  width: 100px;
  height: 25px; 
}

#services-container {
  background-color: rgb(38, 38, 38);
  padding-bottom: 30px;
  text-align: center;
}

#services-container h2 {
  color: rgb(242, 242, 242);
}

#services-container #services-data #title {
  color: rgb(242, 242, 242);
}

#services-container p {
  color: rgb(166, 166, 166);
}

#services-container #services-data {
  padding-top: 10px;
}

#team-container {
  text-align: center; 
}

#team-container img {
  border-radius: 50% 50%;
  width: 50%;
}

#sponsors-container {
  background-color: rgb(75, 0, 130);
  width: 100%;
}

#sponsors-logos {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-around;
  padding: 20px;
}

#contact-container {
  background-color: rgb(38, 38, 38);
}

#contact-container h2, #contact-container #title {
  color: rgb(242, 242, 242);
}

#contact-container p, #contact-container #button3 {
  color: rgb(166, 166, 166);
}

input[type=text], textarea {
  background-color: rgb(51, 51, 51);
  color: white;
  border-radius: 5%;
}




