/*for small screen devices in portrait mode */
@media (min-width: 320px) {
  .container-fluid {
    margin: auto;
    max-width: 480px;
    padding: 40px;
  }
}

/*for small screen devices in landscape mode */
@media (min-width: 480px) {
  .container-fluid {
    margin: auto;
    max-width: 600px;
    padding: 40px;
  }
}

/*for small screen devices in landscape mode */
@media (min-width: 600px) {
  .container-fluid {
    margin: auto;
    max-width: 768px;
    padding: 80px;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    margin: auto;
    max-width: 900px;
    padding: 80px;
  }
}

@media (min-width: 900px) {
  .container-fluid {
    margin: auto;
    /*max-width: px;*/
    padding: 150px;
  }
}

img {
  max-height: 100%;
  max-width: 100%;
}


/*.container-fluid {
  display: -ms-grid;
  -ms-grid-columns: 50% auto;
}*/

#headline {
  color: rgb(242, 242, 242);
  text-align: center;
  background: 
  linear-gradient(
    rgba(75, 0, 130, 0.45), 
    rgba(75, 0, 130, 0.45)
  ),    
  url("../assets/office.jpeg");
  background-size: cover;
}

#button1 {
  background-color: rgb(75, 0, 130);
  font-size: 12px;
  width: 120px;
  height: 35px;
}

#redefining-container {
  background-color: rgb(75, 0, 130);
  color: rgb(242, 242, 242);
  text-align: center;
}


/*.first-page-text h2 {
  vertical-align: middle;
}

#first-page-text {
  color: rgb(242, 242, 242);
}



.first-page-bottom-half {
  float: right;
  background-color: rgb(75, 0, 130);
  padding-top: 30px;
}

#button2 {
  background-color: rgb(75, 0, 130);
  font-size: 11px;
  border-radius: 8px;
  width: 100px;
  height: 25px; 
}



.services-page {
  background-color: rgb(38, 38, 38);
  padding-top: 20px;
  padding-bottom: 30px;
}

#services-header h2 {
  color: rgb(242, 242, 242);
}

#services-header p {
  color: rgb(166, 166, 166);
}

#services-data {
  padding-top: 10px;
  column-count: 3;
  column-gap: 20px;
  color: rgb(242, 242, 242);
  width: 100%;
}*/