html,body {
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow-x: hidden; 
    max-width: 1200px;
    margin: 0 auto !important;
}

img {
  max-height: 100%;
  max-width: 100%;
}

#headline {
  color: rgb(242, 242, 242);
  text-align: center;   
  background: 
  linear-gradient(
    rgba(75, 0, 130, 0.45), 
    rgba(75, 0, 130, 0.45)
  ),    
  url("../assets/office.jpeg");
  background-size: cover;
  background-position: center;
}

#headline #button1 {
  background-color: rgb(75, 0, 130);
  font-size: 12px;
  width: 120px;
  height: 35px;
}

#headline p { 
  opacity: .75;
}

#redefining-container {
  background-color: rgb(75, 0, 130);
  color: rgb(242, 242, 242);
  text-align: center;
}

#redefining-container #button2 {
  background-color: rgb(75, 0, 130);
  font-size: 11px;
  border-radius: 8px;
  width: 100px;
  height: 25px; 
}

#services-container {
  background-color: rgb(38, 38, 38);
  text-align: center;
}

#services-container h2, #services-container #services-data p {
  color: rgb(242, 242, 242);
}

#services-container p, #services-container #services-data ul {
  color: rgb(89, 89, 89);
}

#services-container #services-data {
  padding-top: 10px;
}

#team-container {
  text-align: center; 
}

#team-container img {
  border-radius: 50% 50%;
  width: 40%;
}

#sponsors-container {
  background-color: rgb(75, 0, 130);
  width: 100%;
}

#sponsors-logos {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-around;
  padding: 20px;
}

#contact-container {
  background-color: rgb(38, 38, 38);
}

#contact-container #contact-text, #contact-container #form-format {
  text-align: center;
}


#contact-container h2, #contact-container #title {
  color: rgb(242, 242, 242);
}

#contact-container p, #contact-container #button3 {
  color: rgb(166, 166, 166);
}

#contact-container #title {
  padding: 0;
  margin: 0;
}

input[type=text], textarea[type=text] {
  background-color: rgb(51, 51, 51);
  color: white;
  border-radius: 5%;
  font-size: 11px;
  padding: 8px;
  border: none;
}

footer {
  background-color: rgb(26, 26, 26);
  color: rgb(242, 242, 242);
}

footer ul {
  color: rgb(166, 166, 166);
  list-style: none;
  padding: 0;
  margin: 0;
}

footer #copyright {
  color: rgb(166, 166, 166);
  font-size: 10px;
  width: 100%;
  border-style: solid;
  border-top: thin single black;
}

.carousel-inner > .item > #name {
  color: rgb(75, 0, 130);
  font-weight: bold;
}

.carousel-inner > .item > #title,
.carousel-inner > .item > #quote {
  color: rgb(75, 0, 130);
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

/*  SECTIONS  ============================================================================= */

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col { 
    margin: 1% 0 1% 0%;
  }
}