/*for tablets */
@media only screen and (min-width: 600px) and (max-width: 769px) {
  .container-fluid {
    margin: auto;
    padding: 40px;
  }

  footer p {
    font-size: 12px;
    margin: auto;
    float: left;
    margin-left: 10%;
    max-width: 100%;
  }

  header p {
    padding: 10px;
  }

  header ul {
    list-style-type: none;
    padding: 0;
    text-align: right; 
    float: right;
  }

  header li {
    float: left;
    padding: 10px;
  }

  header li a {
    color: rgb(242, 242, 242);  
  }

  header {
    margin: auto;
    width: 100%;
    background-color: rgb(75, 0, 130);
    color: rgb(242, 242, 242);
  }

  #redefining-container #layers-image {
    float: left;
    width: 40%;
    margin-left: 7.5%;
  }

  #redefining-container #redefining-text {
    float: right;
    width: 40%;
    text-align: left;
    margin-right: 7.5%;
  }

  #services-container #services-data {
    column-count: 3;
    column-gap: 20%; 
  }



  #team-container #team-member {
    width: 100%;
  }

  form {
    float: left;
    width: 60%;  
    padding: 30px;  
  }

  input[type=text], textarea {
    width: 80%;
  }

  #address-data {
    float: right;
    width: 40%;
    text-align: left    
  }

  #contact-container #contact-text {
    margin: auto;
    max-width: 400px;
    text-align: center;
  }
}

